# Variables

Reglas para nombres de variables:

- Comienzan por letra o por guion bajo
- No llevan espacios
- Despues de la primera letra o guion bajo puedes usar letras, numeros y guiones bajos. 
- No se permiten caracteres especiales: ("@", #, &, % etc.)
- Distingue entre mayusculas y minusculas
- No se puede utilizar palabras reservadas (for, if, else, while, def, import, etc.)

In [3]:
a = 5
a

5

In [5]:
print(a)
a+5

5

10

In [8]:
nombre = "Juan"
print(nombre)
nombre = "pablo"
print(nombre)

Juan
pablo

# Guia de estilo

- Nombre de variables en minuscula
- Separar palabras usando snake case "primer_archivo"
-

In [ ]:
a = 5
b = 10 
c = a + b
print(c)

#Modificamos el valor de la variable b
b = 5

#Imprimimos de nuevo el valor de c
print(c)

# Tipos

Muy basicos:
- **Enteros** : `int` : numeros enteros
- **Flotantes** : `float` : numeros decimales
- **Cadenas de texto**: `str` : texto entre comillas
- **Booleanos** `bool`: valores verdaderos o falsos
- **Ningun tipo** `None`

Basicos pero no tanto:

- **Listas**: `list`: Representaciones _ordenadas_ 
de elemenots que pueden contener diferentes tipos. Se definen mediante
`[]` y los lementos van separados por `,`
- **Conjuntos** `set`: Representan colecciones de elementos _unicos_, sin un orden especifico. Se definen mediante llaves `{}` o mediante la funcion `set()`. 
- **Tuplas** `tuple` : Son similares a las listas pero son inmutables. No se pueden modificar una vez creadas. Se definen con `()`. 
- **Diccionarios** `dict`: Representan colecciones de pares clave-valor. Se definen tambien mediante {}

In [30]:
lista_de_la_compra = ["platano","diez naranjas","pipas"]
print(lista_de_la_compra[1])

#podemos definir las listas con elementos que ya tenia definidos
a = 10
lista_de_cosas = ["platano", 5, 8.8, False, a ]

conjunto = {1,10,15,4, 15} #el conjunto no tiene elementos repetidos
print(conjunto)

diez naranjas
{1, 10, 4, 15}

In [37]:
una_tupla = ("Alumno 1", 7.5, False)
print(una_tupla)

una_tupla[1] = 8.5 #esto no se puede hacer pq las tuplas son inmutables
print(una_tupla) #aqui me da error

('Alumno 1', 7.5, False)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#para pasar una lista a conjunto
lista_de_numero = [1,10,15,4, 15]
lista_de_num_unicos = set(lista_de_numero)

In [34]:
#Las listas son mutables
la_lista_mutable = [1, 10, 100]
#Quiero que el segundo elemento, en vez de ser 10 sea 20
la_lista_mutable[1] = 20
print(la_lista_mutable[1])

20

In [10]:
edad = 25 #int
altura = 1.75 #float
nombre = "Javier Lobato"
otro_nombre = 'Paco Coloco'
texto_nuevo = '''ArithmeticError'''
viene_a_la_cita = False #bool
enfermedad = None

print(nombre)

Javier Lobato

In [27]:
type(lista_de_cosas[2])

float

In [38]:
dicc = {'nombre': "Noelia", 'num': 99, 'nombre':"juan"}
print(dicc) #cuidado que nos sobreescribe la variable y no avisa

{'nombre': 'juan', 'num': 99}

In [44]:
#transformacion

a = "25"
b = 5

type(a)
#a + b #solo puede concatenera str con str, nosotros tneemos str e int

b = "5"
a + b

'255'

In [45]:
a = "2"
b = "2"
a + b

'22'

In [50]:
#forzar la conversion: castear
print(int(a)+ int(b))

print(str(a)+ str(b))

4
22

In [51]:
e = "25a"
f = 5
print(int(e)+f)

ValueError: invalid literal for int() with base 10: '25a'

# Operadores 

- aritmeticos
   - suma + 
   - resta -
   - multiplicacion *
   - division /
   - modulo  %
   - exponenciacion **
- de comparacion
   - igual ==
   - diferente !=
   - mayor que >
   - menor que <
   - mayor o igual que >=
   - menor o igual que <=
- logicos

In [61]:
# Operadores aritmeticos

a = 10
b = 3
op = a + b
op = a -b
print(op)
op = a * b
op = a % b
op = a ** b
print(op)
type(op) #el input y output es del mismo tipo en las sumas y restas

7
1000

int

In [64]:
a = 10
print(a)
a += 5
print(a)

a *+ 5 #para multiplicar

10
15

75

In [70]:
x = 5
y = 10
z = 7

valor_de_verdad = x == y
print(valor_de_verdad)

x < y < z

x < y < "False" #tipico error
#esto es una evaluacion parcial y no llega al "False" 
#hasta cmabiar los datos

False

TypeError: '<' not supported between instances of 'int' and 'str'

 19Condicionales

In [1]:
x = 5
if x == 5:
    print("Es 5")
else:
    print("No es 5")

Es 5

In [10]:
x = -8
if x < 0 or x > 10:
    print("Nota invalida")
else:    

   if x == 5:
    print("Es 5")
   elif x == 6:
    print("Es 6")
   elif x == 7:
    print("Es 7")
   else:
    print("Es otro")

Nota invalida

Estrucutra ternaria

In [ ]:
x = 5
print("Es 5" if x == 5 else "No es 5")
#Es 5

In [14]:
# _Nunca hacer esto!!!!_

x = 5
if x == 5:
    resultado = True
    print(resultado)
else:
    resultado = False
    print(resultado)

resultado = condicion  #No hacer esto

True

Bucle "for"

In [15]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

Bucle "while"

In [20]:
x = 5
while x > 0:
    x-=1
    print(x)

# Salida: 4,3,2,1,0

4
3
2
1
0

Calcula el área de un triángulo dado su base y altura. Muestra el mensaje “El área del triángulo es: …”
Convierte grados Celsius a grados Fahrenheit utilizando la fórmula: Fahrenheit = (Celsius * 9/5) + 32. Muestra el mensaje “La temperatura en grados Fahrenheit es: …”
Escribe un programa que calcule el precio total de una compra después de aplicar un descuento. Se proporciona el precio original del artículo y el porcentaje de descuento. El precio total se calcula como: Precio total = Precio original - (Precio original * Porcentaje de descuento / 100). Muestra el mensaje “El precio total con descuento es: …”
Comprueba si un número dado es divisible por 3 y por 5
Clasifica la edad de una persona teniendo en cuenta que [0, 18] es “menor de edad”, [18, 65] es “adulto” y los mayores de esas edad serán “adulto mayor”.
Calcular el total a pagar por una compra sabiendo que si el importe es superior a 100€ se aplica un 10% de descuento al precio final.
Escribe un programa que calcule la suma de todos los números pares del 1 al N.
Escribe un programa que genere la tabla de multiplicar de un número.
Escribe un programa que a partir de una lista de números y muestre los números pares en la lista.
Escribe un programa que tome una lista de números y encuentre el número mayor y el número menor en la lista.
Escribe un programa que tome una lista de elementos y elimine los elementos duplicados, dejando solo una instancia de cada elemento en la lista.

In [27]:
# Definimos una variable x con una cadena
x = "El area del triangulo (a+b)/c es"

# Podemos realizar múltiples asignaciones
altura, base, c = 4, 3, 2

# Realizamos unas operaciones con a,b,c
d = (a + b) / c

# Definimos una variable booleana
imprimir = True

# Si imprimir, print()
if imprimir:
    print(x, d)

El area del triangulo (a+b)/c es 3.5

In [31]:
calor = "La temperatura en grados Fahrenheit es"

Celsius = 25

Fahrenheit = (Celsius * 9/5) + 32

if imprimir:
    print(calor, Celsius)

La temperatura en grados Fahrenheit es 25

In [36]:
mensaje = "El precio total con descuento es:"

Precio_original, Porcentaje_descuento = 15, 0.8

Precio_total = Precio_original - (Precio_original * Porcentaje_descuento / 100)

if imprimir:
    print(mensaje, Precio_total)

El precio total con descuento es: 14.88

In [41]:
edad = 27
if edad < 18:
    print("Es menor de edad")
elif edad > 18 or edad < 65:
    print("Es adulto")
else:
    print("Es adulto mayor")

Es adulto

In [43]:
compra = 125
if compra > 100:
  rebaja = compra * 0.9
  print(rebaja)
else:
    print(compra)

112.5

In [67]:
#Escribe un programa que calcule la suma de todos los números pares del 1 al N.
N = 10
def es_par(i):
    return i % 2 == 0  
pares = [i for i in range(1, N + 1) if es_par(i)]
suma_pares = sum(pares); print(suma_pares)

30

In [61]:
#Escribe un programa que genere la tabla de multiplicar de un número.
cuadrados = [i**2 for i in range(5)]; print(cuadrados)

[0, 1, 4, 9, 16]

In [65]:
lista = [1, 2, 3, 4]

# Recorrer la lista y mostrar solo los números pares
for l in lista:
    if l % 2 == 0:  # Verificar si el número es par
        print(l)

2
4

Escribe un programa que tome una lista de elementos y elimine los elementos duplicados, dejando solo una instancia de cada elemento en la lista.

In [70]:
lista = [1, 2, 3, 4]
for l in lista:
    if l == min(lista):
        print(l)
    if l == max(lista):
        print(l)

1
4

In [72]:
s = set([5, 5, 6, 7, 8])
print(s)

{8, 5, 6, 7}