In [ ]:
'''
examen 21 octubre:bases de datos
presentacion mineria 4 noviembre
examen final -> diciembre
'''

# Variables

Reglas para nombres de variables:

- Comienzan por letra o por guion bajo
- No llevan espacios
- Despues de la primera letra o guion bajo puedes usar letras, numeros y guiones bajos. 
- No se permiten caracteres especiales: ("@", #, &, % etc.)
- Distingue entre mayusculas y minusculas
- No se puede utilizar palabras reservadas (for, if, else, while, def, import, etc.)

In [3]:
a = 5
a

5

In [5]:
print(a)
a+5

5

10

In [8]:
nombre = "Juan"
print(nombre)
nombre = "pablo"
print(nombre)

Juan
pablo

# Guia de estilo

- Nombre de variables en minuscula
- Separar palabras usando snake case "primer_archivo"
-

In [ ]:
a = 5
b = 10 
c = a + b
print(c)

#Modificamos el valor de la variable b
b = 5

#Imprimimos de nuevo el valor de c
print(c)

# Tipos

Muy basicos:
- **Enteros** : `int` : numeros enteros
- **Flotantes** : `float` : numeros decimales
- **Cadenas de texto**: `str` : texto entre comillas
- **Booleanos** `bool`: valores verdaderos o falsos
- **Ningun tipo** `None`

Basicos pero no tanto:

- **Listas**: `list`: Representaciones _ordenadas_ 
de elemenots que pueden contener diferentes tipos. Se definen mediante
`[]` y los lementos van separados por `,`
- **Conjuntos** `set`: Representan colecciones de elementos _unicos_, sin un orden especifico. Se definen mediante llaves `{}` o mediante la funcion `set()`. 
- **Tuplas** `tuple` : Son similares a las listas pero son inmutables. No se pueden modificar una vez creadas. Se definen con `()`. 
- **Diccionarios** `dict`: Representan colecciones de pares clave-valor. Se definen tambien mediante {}

In [30]:
lista_de_la_compra = ["platano","diez naranjas","pipas"]
print(lista_de_la_compra[1])

#podemos definir las listas con elementos que ya tenia definidos
a = 10
lista_de_cosas = ["platano", 5, 8.8, False, a ]

conjunto = {1,10,15,4, 15} #el conjunto no tiene elementos repetidos
print(conjunto)

diez naranjas
{1, 10, 4, 15}

In [37]:
una_tupla = ("Alumno 1", 7.5, False)
print(una_tupla)

una_tupla[1] = 8.5 #esto no se puede hacer pq las tuplas son inmutables
print(una_tupla) #aqui me da error

('Alumno 1', 7.5, False)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#para pasar una lista a conjunto
lista_de_numero = [1,10,15,4, 15]
lista_de_num_unicos = set(lista_de_numero)

In [34]:
#Las listas son mutables
la_lista_mutable = [1, 10, 100]
#Quiero que el segundo elemento, en vez de ser 10 sea 20
la_lista_mutable[1] = 20
print(la_lista_mutable[1])

20

In [10]:
edad = 25 #int
altura = 1.75 #float
nombre = "Javier Lobato"
otro_nombre = 'Paco Coloco'
texto_nuevo = '''ArithmeticError'''
viene_a_la_cita = False #bool
enfermedad = None

print(nombre)

Javier Lobato

In [27]:
type(lista_de_cosas[2])

float

In [38]:
dicc = {'nombre': "Noelia", 'num': 99, 'nombre':"juan"}
print(dicc) #cuidado que nos sobreescribe la variable y no avisa

{'nombre': 'juan', 'num': 99}

In [44]:
#transformacion

a = "25"
b = 5

type(a)
#a + b #solo puede concatenera str con str, nosotros tneemos str e int

b = "5"
a + b

'255'

In [45]:
a = "2"
b = "2"
a + b

'22'

In [50]:
#forzar la conversion: castear
print(int(a)+ int(b))

print(str(a)+ str(b))

4
22

In [51]:
e = "25a"
f = 5
print(int(e)+f)

ValueError: invalid literal for int() with base 10: '25a'

# Operadores 

- aritmeticos
   - suma + 
   - resta -
   - multiplicacion *
   - division /
   - modulo  %
   - exponenciacion **
- de comparacion
   - igual ==
   - diferente !=
   - mayor que >
   - menor que <
   - mayor o igual que >=
   - menor o igual que <=
- logicos

In [61]:
# Operadores aritmeticos

a = 10
b = 3
op = a + b
op = a -b
print(op)
op = a * b
op = a % b
op = a ** b
print(op)
type(op) #el input y output es del mismo tipo en las sumas y restas

7
1000

int

In [64]:
a = 10
print(a)
a += 5
print(a)

a *+ 5 #para multiplicar

10
15

75

In [70]:
x = 5
y = 10
z = 7

valor_de_verdad = x == y
print(valor_de_verdad)

x < y < z

x < y < "False" #tipico error
#esto es una evaluacion parcial y no llega al "False" 
#hasta cmabiar los datos

False

TypeError: '<' not supported between instances of 'int' and 'str'

 19Condicionales

In [1]:
x = 5
if x == 5:
    print("Es 5")
else:
    print("No es 5")

Es 5

In [10]:
x = -8
if x < 0 or x > 10:
    print("Nota invalida")
else:    

   if x == 5:
    print("Es 5")
   elif x == 6:
    print("Es 6")
   elif x == 7:
    print("Es 7")
   else:
    print("Es otro")

Nota invalida

Estrucutra ternaria

In [ ]:
x = 5
print("Es 5" if x == 5 else "No es 5")
#Es 5

In [14]:
# _Nunca hacer esto!!!!_

x = 5
if x == 5:
    resultado = True
    print(resultado)
else:
    resultado = False
    print(resultado)

resultado = condicion  #No hacer esto

True

Bucle "for"

In [15]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

Bucle "while"

In [20]:
x = 5
while x > 0:
    x-=1
    print(x)

# Salida: 4,3,2,1,0

4
3
2
1
0

## Ejercicios de Programación (1)


> 1. Calcula el área de un triángulo. Dado su base y altura, muestra el mensaje: _El área del triángulo es: …_

In [27]:
# Definimos una variable x con una cadena
x = "El area del triangulo (a+b)/c es"

# Podemos realizar múltiples asignaciones
altura, base, c = 4, 3, 2

# Realizamos unas operaciones con a,b,c
d = (a + b) / c

# Definimos una variable booleana
imprimir = True

# Si imprimir, print()
if imprimir:
    print(x, d)

El area del triangulo (a+b)/c es 3.5

> 2. Convierte grados Celsius a grados Fahrenheit utilizando la fórmula: _Fahrenheit = (Celsius * 9/5) + 32_

In [31]:
calor = "La temperatura en grados Fahrenheit es"

Celsius = 25

Fahrenheit = (Celsius * 9/5) + 32

if imprimir:
    print(calor, Celsius)

La temperatura en grados Fahrenheit es 25

> 3. Se proporciona el precio original del artículo y el porcentaje de descuento. El precio total se calcula como: _Precio total = Precio original - (Precio original * Porcentaje de descuento / 100)_

In [36]:
mensaje = "El precio total con descuento es:"

Precio_original, Porcentaje_descuento = 15, 0.8

Precio_total = Precio_original - (Precio_original * Porcentaje_descuento / 100)

if imprimir:
    print(mensaje, Precio_total)

El precio total con descuento es: 14.88

> 4. Escribe un programa que determine si un número dado es divisible por 3 y por 5.

In [36]:
n = 100
def divisibles(i):
    return i % 3 == 0 and i % 5 == 0  #si no pongo return no funciona 
    
divisores = [num for num in range(1, n +1) if divisibles(num)] #tengo que buscar divisibles en el num 
print(f"los siguientes numeros son divisibles {divisores}")

los siguientes numeros son divisibles [15, 30, 45, 60, 75, 90]

> 5. Clasifica la edad de una persona: - [0, 18] → "Menor de edad", - [18, 65] → "Adulto", - > 65 → "Adulto mayor"

In [41]:
edad = 27
if edad < 18:
    print("Es menor de edad")
elif edad > 18 or edad < 65:
    print("Es adulto")
else:
    print("Es adulto mayor")

Es adulto

> 6. Calcula el total a pagar por una compra, sabiendo que si el importe es superior a 100€, se aplica un 10% de descuento al precio final.

In [43]:
compra = 125
if compra > 100:
  rebaja = compra * 0.9
  print(rebaja)
else:
    print(compra)

112.5

> 7. Escribe un programa que calcule la suma de todos los números pares del 1 al N.

In [39]:
#Escribe un programa que calcule la suma de todos los números pares del 1 al N.
n = 10
def es_par(i):
    return i % 2 == 0  

pares = [par for par in range(1, n + 1) if es_par(par)]
suma_pares = sum(pares)
print(suma_pares)

30

> 8. Escribe un programa que genere la tabla de multiplicar de un número dado.

In [62]:
# Escribe un programa que genere la tabla de multiplicar de un número.

def multiplos(n):
    lista = [1,2,3,4,5,6,7,8,9,10] #suponiendo que llega hasta 10
    for l in lista: 
        multiplos= n * l
        print(multiplos)

multiplos(5)

#5 * 1 + 5 *2 + 5 *3

5
10
15
20
25
30
35
40
45
50

> 9. Escribe un programa que, a partir de una lista de números, muestre los números pares en la lista.

In [65]:
lista = [1, 2, 3, 4]

# Recorrer la lista y mostrar solo los números pares
for l in lista:
    if l % 2 == 0:  # Verificar si el número es par
        print(l)

2
4

> 10. Escribe un programa que tome una lista de números y encuentre el número mayor y el número menor en la lista.

In [70]:
lista = [1, 2, 3, 4]
for l in lista:
    if l == min(lista):
        print(l)
    if l == max(lista):
        print(l)

1
4

> 11. Escribe un programa que tome una lista de elementos y elimine los elementos duplicados, dejando solo una instancia de cada elemento en la lista.

In [72]:
s = set([5, 5, 6, 7, 8])
print(s)

{8, 5, 6, 7}

Ejercicios Moure

Escribe un programa que muestre por consola (con un print) los
 * números de 1 a 100 (ambos incluidos y con un salto de línea entre
 * cada impresión), sustituyendo los siguientes:
 * - Múltiplos de 3 por la palabra "fizz".
 * - Múltiplos de 5 por la palabra "buzz".
 * - Múltiplos de 3 y de 5 a la vez por la palabra "fizzbuzz".

In [1]:
for i in range(1, 20, 1):
    if i % 5 == 0 and i % 3 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19

 * Escribe una función que reciba dos palabras (String) y retorne
 * verdadero o falso (Bool) según sean o no anagramas.
 * - Un Anagrama consiste en formar una palabra reordenando TODAS
 *   las letras de otra palabra inicial.
 * - NO hace falta comprobar que ambas palabras existan.
 * - Dos palabras exactamente iguales no son anagrama.

In [ ]:
def f(a, b):
    # Compara las longitudes de las palabras
    if len(a) == len(b):
        print("Las palabras tienen la misma longitud")

        # Compara si las palabras tienen las mismas letras, independientemente del orden
        if sorted(a) == sorted(b):
            print("Las palabras tienen las mismas letras")

            # Si tienen las mismas letras, son la misma palabra
            if a == b:
                print("Son la misma palabra")
            else:
                print("No son la misma palabra, pero tienen las mismas letras")
        else:
            print("Diferentes palabras: No tienen las mismas letras")

    else:
        print("No son la misma palabra, tienen diferentes longitudes")

Escribe un programa que imprima los 50 primeros números de la sucesión
 * de Fibonacci empezando en 0.
 * - La serie Fibonacci se compone por una sucesión de números en
 *   la que el siguiente siempre es la suma de los dos anteriores.
 *   0, 1, 1, 2, 3, 5, 8, 13...

In [13]:
def fibonacci(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    else:
        return fibonacci(n -1) + fibonacci(n - 2)

fibonacci(3)

for i in range(1,20):
    resultado = fibonacci(i)
    print(resultado)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584

## Ejercicios (2)

> 1: Escribe una función que reciba dos números como entrada e imprima, sin devolver nada, cuál de ellos es el mayor.

In [9]:
def contar(n,m):
    if n > m:
     print(f"{n} es mayor que {m}")
    else:
     return (f"{m} es mayor que {n}")

contar(1,2)

'2 es mayor que 1'

>2: Escribe una función que tome tres longitudes como entrada e indique si es posible formar un triángulo con esas longitudes. Si es posible, determina si es un triángulo equilátero, isósceles o escaleno.

In [1]:
def triangulo(a,b,c):
    if a + b > c and a +c > b and b +c > a: #Es mejor que se cumpla la condicion fundamental y si funciona seguir
      if a == b == c:
        print('triangulo equilatero')
      elif a == b or b ==c:
        print('triangulo isosceles')
      else:
        print('triangulo esceleno')
    
      area = (a + b) / c
      print(f"area del triangulo {area}")
    else:
      print('Error')

triangulo(2,3,3)

triangulo isosceles
area del triangulo 1.6666666666666667

>3: Determina si un año es bisiesto. Un año es bisiesto si es divisible por 4, excepto aquellos años que son divisibles por 100 pero no por 400.

In [8]:
año = int(input("Escribe el año: "))
if año > 0000 and año < 2025:
    print(año)
    if (año% 4 == 0 and año %100 != 0) or (año % 400 == 0) :
        print(f"{año} es bisiesto")
    else:
        print(f"{año} no es bisiesto")
else:
    print('Error')

2020
2020 es bisiesto

>4: Dado un numero entero positivo verifica si es un numero primo

In [2]:
def primo(n):
    if n < 0 and n < 1:
        return False
    elif n == 1:
        return False
    elif n % 2 == 0 or n % 3 == 0:
        return False
    else:
        return True
    
primo(5)    

#for i in range(0, 10):
#    resultado = primo(i)
#    print(f"{i} {resultado}")

True

> 5: Escribe un programa que calcule el factorial de un número entero no negativo. El factorial de un número n se calcula como el producto de todos los enteros desde 1 hasta n.

In [46]:
def factorial(n):
    r = n
    i = n - 1
    while i > 1:
        r *= i
        i -= 1
    return r
print(factorial(5))

#5*4 = 20 * 3 = 60 * 2 = 120 * 1

120

24

>6: Crea un programa que convierta una calificación numérica en una calificación alfabética según la siguiente escala: - A: 90-100 - B: 80-89 - C: 70-79 - D: 60-69 - F: Menos de 60.

In [76]:
def calificacion(x):
    if x > 90 and x <= 100:
        return('A')
    elif x > 80 and x <= 89:
        return('B')
    elif x > 70 and x <= 79:
        return('C')
    elif x > 60 and x <= 69:
        return('D')
    else:
        return('F')

x = int(input("Escribe tu nota: "))
print(f"Con {x} puntos tu calificacion es de: {calificacion(x)}")

Con 40 puntos tu calificacion es de: F

>7: Escribe un programa que tome un rango de números (inicio y fin) y muestre todos los números primos dentro de ese rango.

In [77]:
def primo(n):
    if n < 0 and n < 1:
        return False
    elif n == 1:
        return False
    elif n % 2 == 0 or n % 3 == 0:
        return False
    else:
        return True

lista = [1,2,3,4,5,6,7,8,9,10] # solo funciona si defino una lista antes y los return funcion son boleanos

lista_de_primos = [num for num in lista if primo(num)] 

print(lista_de_primos)

[5, 7]

>8: Escribe un programa que cuente la cantidad de dígitos en un número entero ingresado por el usuario.

In [14]:
num1 = input("primer numero:")
list(num1)
for index, l in enumerate(num1):
    print(index, l)

print(f"El numero tiene {index +1} digitos")

0 4
1 5
2 1
3 2
4 4
El numero tiene 5 digitos

>9: Escribe un programa que tome un mes (en forma numérica, por ejemplo, 1 para enero) y un año como entrada y muestre la cantidad de días en ese mes y año específicos. Ten en cuenta los años bisiestos.

In [28]:
num1 = int(input("mes:"))
num2 = int(input("año:"))
meses = [31,28,31,30,31,30,31,31,30,31,30,31]

if num1 == 2:
    if (num2 % 4 == 0 and num2 % 100 != 0) or (num2 % 400 == 0): 
        meses[1] = 29
        print(f"El mes de febrero tuvo {meses[1]} dias")
    else:
        print(f"En febrero del año {num2} tuvo {meses[1]} dias")
else:
    print(f"el mes {num1} del año {num2}")

El mes de febrero tuvo 29 dias

>10: Escribe una función llamada contiene_elemento(lista, elemento) que reciba una lista y un elemento como argumentos y devuelva True si el elemento está presente en la lista, o False en caso contrario.

In [46]:
def contiene_elemento(lista,elemento):
    if elemento in lista:
        print(f"La jugadora española {elemento} está en el top10") 
        return True
    else:
        return False

mejores_jugadoras = [
    "Megan Rapinoe",
    "Alexia Putellas",
    "Sam Kerr",
    "Vivianne Miedema",
    "Ada Hegerberg",
    "Wendie Renard",
    "Lucy Bronze",
    "Aitana Bonmatí",
    "Christine Sinclair",
    "Alex Morgan",
    "Fran Kirby",
    "Caroline Graham Hansen",
    "Pernille Harder",
    "Jennifer Hermoso",
    "Marie-Antoinette Katoto"]

contiene_elemento(mejores_jugadoras, "Alexia Putellas")

La jugadora española Alexia Putellas está en el top10

True

>11: Escribe una función llamada calcular_promedio(lista) que reciba una lista de números y devuelva el promedio de esos números.

In [52]:
lista = [10,10,10,8,9]

def calcular_promedio(x):
    x = list(x)
    media = sum(x)/len(x)
    print(media)

calcular_promedio(lista)

9.4

>12: Escribe una función llamada contar_vocales(cadena) que reciba una cadena de texto y devuelva el número de vocales (mayúsculas y minúsculas) en la cadena.

In [70]:
def contar_vocales(x):
    x = str(x)
    vocales = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
    contador = 0
    lista = [letra for letra in x] #divido la lista en letras
    print(lista)  #para comprobar
    for l in lista: #selecciono las letras 
        if l in vocales:  #lo habia puesto alreves 
            contador +=1
    print(contador)
    
contar_vocales("me encanta programar me hace muy feliz")

['m', 'e', ' ', 'e', 'n', 'c', 'a', 'n', 't', 'a', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'a', 'r', ' ', 'm', 'e', ' ', 'h', 'a', 'c', 'e', ' ', 'm', 'u', 'y', ' ', 'f', 'e', 'l', 'i', 'z']
13

>13: Escribe una función llamada ordenar_palabras(lista) que reciba una lista de palabras y devuelva una nueva lista con las palabras ordenadas alfabéticamente.

In [78]:
def ordenar_lista(x):
    if isinstance(x, list):
        x.sort()
        print(x)

x = ["h","c","d","z"]
ordenar_lista(x)

['c', 'd', 'h', 'z']

>14: Escribe una función llamada contar_elementos_unicos(lista) que reciba una lista y devuelva el número de elementos únicos en la lista.

In [84]:
def contar_elementos_unicos(x):
    if isinstance(x,list):
        print(f"El numero de paises campeones del mundo es {len(set(x))}")
    else:
        pass

campeones_mundial = ["Uruguay", "Italia", "Italia", "Uruguay", "Alemania", "Brasil", "Brasil", "Inglaterra", "Brasil", "Alemania", "Argentina", "Italia", "Argentina", "Alemania", "Brasil", "Francia", "Brasil", "Italia", "España", "Alemania", "Francia", "Argentina"]

contar_elementos_unicos(campeones_mundial)

El numero de paises campeones del mundo es 8

>15: Escribe una función llamada sumar_naturales(n) que calcule la suma de los números naturales desde 1 hasta n.

In [15]:
#primera manera
def sumar_naturales(n):
    if n > 0 and n != isinstance(n,float):
        r = 0
        i = 1
        while i <= n:
            r += i
            i += 1
        return r
    else:
        return False
sumar_naturales(5)

#0 + 1 + 2 + 3 + 4 + 5

15

In [14]:
#segunda manera
n = 5
def es_natural(i):
    return i > 0 and i == int(i)

natural = [num for num in range(1,n+1) if es_natural(num)]
sumar_naturales = sum(natural)
print(sumar_naturales)

15